.logo {
  text-align: center;
}
.image--pwa {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  text-align: center;
  background: #4aaab3;
  border-radius: 6px;
}
.btn a {
  color: #fff;
  text-decoration: none;
  padding: 3vw 5%;
  display: block;
}
